.download {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  z-index: 5;
  min-height: 800px;
  background-image: linear-gradient(#d362a4, #793cb7);
  background-position: top;
  .title-wrapper {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37px;
    flex-direction: column;
    z-index: 1;
    position: relative;
    text-align: center;
    .store {
      position: relative;
      z-index: 2;
    }
    .wave {
      width: 100%;
      position: absolute;
      bottom: 0;
      transform: rotate(180deg) translateY(-70%);
    }
  }
  span {
    position: relative;
    z-index: 2;
    font-size: 16px;
    line-height: calc(40 / 16);
    max-width: 378px;
    text-align: center;
  }

  .x1 {
    bottom: 0;
    left: 50%;
    position: absolute;
    z-index: 3;
    transform: translate(-105%, 40%);
  }
  .x2 {
    left: 50%;
    bottom: 0;
    transform: translateY(40%);
    position: absolute;
    z-index: 3;
  }
}
@media screen and (max-width: 767px) {
  .download {
    min-height: 600px;
    .x1 {
      transform: translate(-95%, 50%) scale(0.8);
    }
    .x2 {
      transform: translate(-10%, 50%) scale(0.8);
    }
  }
}
@media screen and (max-width: 451px) {
  .download {
    min-height: 600px;
    .x1 {
      transform: translate(-85%, 40%) scale(0.6);
    }
    .x2 {
      transform: translate(-20%, 40%) scale(0.6);
    }
  }
}
@media screen and (max-width: 374px) {
  .download {
    min-height: 750px;
    .x1 {
      display: none;
    }
    .x2 {
      transform: translate(-50%, 40%) scale(1);
      z-index: 2;
    }
  }
}
