body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: auto;
}
.button {
  @include buttonGradient;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s linear;
}
.button:hover {
  letter-spacing: 1px;
  opacity: 0.7;
}
.buttonWhite {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.button-wrapper {
  width: 157px;
  height: 54px;
  border-radius: 100rem;
  background-color: white;
}

.title {
  @include textGradient;
  font-size: 28px;
  font-weight: 700;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 1rem;
    background-color: $pink;
    border-radius: 2rem;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.login-wrapper,
.signup-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  z-index: 10000;
  visibility: hidden; //
  opacity: 0; //
  transition: all 0.5s ease;
  &.active {
    visibility: visible; //
    opacity: 1; //
  }

  .login,
  .signup {
    width: 100%;
    max-width: 644px;
    height: 583px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    gap: 21px;
    position: absolute;
    .fa-times {
      position: absolute;
      font-size: 3rem;
      right: 2rem;
      top: 1rem;
      cursor: pointer;
    }
    .title {
      font-size: 24px;
      font-weight: 700;
      text-transform: none;
      &::before {
        background-color: transparent;
      }
    }
    span {
      text-transform: none;
      font-size: 16px;
      font-weight: 400;
      line-height: calc(25 / 16);
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 347px;
      gap: 30px;
      margin-top: 32px;
      .email,
      .password {
        width: 100%;
        height: 6rem;
        border-radius: 5px;
        border: 1px solid #d1d1d1;
        outline: none;
        font-size: 14px;
        padding: 20px;
        text-transform: none;
      }
      p {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        text-align: right;
        cursor: pointer;
        &:last-child {
          text-align: center;
        }
        span {
          font-weight: 700;
          text-decoration: underline;
        }
      }
      .button {
      }
    }
  }
  .signup {
    height: 95vh;
  }
}
