.rates {
  width: 100%;
  min-height: 90rem;
  background-image: $gradient;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px $spacing;
  .wave-top {
    transform: rotate(-180deg);
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .wave-bottom {
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 100%;
    z-index: 1;
    img {
      width: 100%;
    }
  }

  .table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 10rem;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px 4px;
    border-radius: 30px;
    padding: 2rem 2rem 2rem 2rem;
    .title {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      &:before {
        background-color: transparent;
      }
      h3 {
        font-size: 18px;
      }
    }
    .innerRates {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 5rem;
      .bitcoin {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        .left {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          max-width: 8rem;
          gap: 1.5rem;
          font-size: 14px;
          font-weight: 400;
          .logo {
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .right {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 3rem;
          .buy,
          .sell {
            font-size: 14px;
            font-weight: 400;
            span {
              font-weight: 700;
            }
          }
        }
      }
    }

    .innerReserves {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      gap: 5rem;
      .bank {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        .left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1.5rem;
          font-size: 14px;
          font-weight: 400;
          .logo {
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .right {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          font-size: 14px;
          font-weight: 400;
        }
      }

      .coin {
        font-weight: 700;
        font-size: 14px;
        width: 100%;
        text-align: end;
      }

      .bitcoin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        .left {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 14px;
          font-weight: 400;
          gap: 1.5rem;
          .logo {
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .right {
          font-size: 14px;
          span {
            font-weight: 700;
          }
        }
      }
    }

    .wrapperExchanges {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .ago {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
          width: 85px;
          height: 24px;
          font-size: 8px;
          font-weight: 700;
          border-radius: 5px;
        }
      }
    }
    .innerExchanges {
      height: 35rem;
      padding-right: 2rem;
      overflow: hidden scroll;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: #e068a1;
        border-radius: 2rem;
      }
      &::-webkit-scrollbar-track {
        background: rgb(228, 228, 228);
        border-radius: 2rem;
      }

      .trade {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-bottom: 1px solid grey;
        padding: 3rem 0rem;
        .transfer {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          font-size: 14px;
          font-weight: 400;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
          }
        }
        .exchange {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;
          font-size: 14px;
          font-weight: 400;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .rates {
    padding: 0 50px;
    .table {
      grid-gap: 0rem 5rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .rates {
    .wave-top {
      top: -2%;
    }
    .wave-bottom {
      bottom: -2%;
    }
    min-height: 125rem;
    .table {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      width: 60rem;
      .innerRates {
        gap: 1rem;
        .bitcoin {
          gap: 5rem;
          .right {
            gap: 1rem;
          }
        }
      }
      .innerReserves {
        gap: 1rem;
        .bitcoin {
          gap: 5rem;
          .right {
            gap: 1rem;
          }
        }
      }
    }
  }
}
