.trading {
  width: 100%;
  height: 520px;
  background-image: $gradient;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-trading {
    max-width: 980px;
    min-height: 500px;
    padding: 1rem 10rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgb(127 127 127 / 25%) 0px 8px 24px 11px;
    position: relative;
    z-index: 2;
    transform: translateY(25%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    .title {
      text-align: center;
    }
    .two-card {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 63px;
      .bitcoin,
      .gift {
        width: 262px;
        height: 226px;
        border-radius: 15px;
        background-image: $gradient;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 51px;
        img,
        h3 {
          position: relative;
          z-index: 2;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .bitcoin::before,
      .gift::before {
        content: "";
        position: absolute;
        width: 99%;
        height: 99%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: inherit;
        z-index: 1;
      }
      .gift {
      }
    }
  }
  .wave {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    transform: translateY(15%);
    z-index: 1;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .trading {
    .inner-trading {
      gap: 30px;
      .two-card {
        gap: 5px;
        padding: 5rem 0rem;
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .trading {
    .inner-trading {
      padding: 5rem 0rem;
      gap: 30px;
      .two-card {
        flex-direction: column;
      }
    }
  }
}
